<head>
    <title>
        Architectural Visualization Tool
    </title>
    <meta charset="UTF-8">
    <meta
        content="Show the evolution of a code base by various dynamic call graph visulizations and metrics."
    >
    <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/ZoomSlider.css')}}"
    >
    <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/jquery-ui.min.css')}}"
    >
    <link
        rel="stylesheet"
        href="{{url_for('static', filename='css/bootstrap.min.css')}}"
    >
    <script
        src="{{url_for('static', filename='js/jquery.min.js')}}"
    ></script>
    <script
        src="{{url_for('static', filename='js/bootstrap.min.js')}}"
    ></script>
    <script
        src="{{url_for('static', filename='js/ZoomSlider.js')}}"
    ></script>
    <script
        src="{{url_for('static', filename='js/go.js')}}"
    ></script>
    <script
        src="{{url_for('static', filename='js/Chart.js')}}"
    ></script>
    <!-- Commented out for now possibly depricated <static
        src="{{url_for('static', filename='js/anychart-base.min.js')}}"
    ></static> -->
    <script
        src="{{url_for('static', filename='js/arch_visulizer.js')}}"
    ></script>
    <script type="text/javascript">
        var nodes = {{sc1_nodes|tojson|safe}};
        var edges = {{sc1_edges|tojson|safe}};
    </script>
</head>

<body onload="init(nodes, edges)">

    <div style="width: 100%; height: 600px;overflow: visible; resize: both">
        <div
            id="myDiagramDiv"
            style="position: relative;border: solid 1px black; background: lightblue;  width: 700px; height: 500px; float: left;  resize: both; caption-side: bottom ; object-fit: contain;"
        >
        </div>
        <div
            id="myDiagramDiv2"
            style="position: relative; border: solid 1px black; background: lightgray; margin-left: 700px; height: 500px; resize: both;caption-side: bottom ;object-fit: contain;"
        >
        </div>
        <b>
            <div
                id="node_count_1"
                style="float: left;"
            >
                Scenario 1
            </div>
        </b>
        <b>
            <div
                id = "node_count_2"
                style="margin-left: 700px"
            >
                Scenario 2
            </div>
        </b>

    </div>

    <div class="panel panel-default">
        &nbsp;&nbsp;&nbsp;
        <label>
            Choose Scenario 1:
        </label>
        &nbsp;&nbsp;&nbsp;
        <select id="scenario1-list" class="dropdown"></select>
        <label>
            Choose Scenario 2:
        </label>
        &nbsp;&nbsp;&nbsp;
        <select id="scenario2-list" class="dropdown"></select>
        <label>
            Choose Operation:
        </label>
        &nbsp;&nbsp;&nbsp;
        <select id="comp" class="dropdown"></select>
        &nbsp;&nbsp;&nbsp;
        <input
            class="button-form"
            type="submit"
            value="Generate"
            onclick="showDiagrams(percentage_array={{perc|safe}}, nodes, edges)"
        >
        <br>
        &nbsp;&nbsp;&nbsp;
        View comparisons between Scenario 1 selection & all the Scenario 2 cases
        <button onclick="show_full_chart(percentage_array = {{perc|safe}})">
            View
        </button>
    </div>
    <form method="post" enctype="multipart/form-data">
        <div style=" margin-left:20px">
            <label for="sc_uploads">
                Add a scenario:
            </label>
            <input type="file" id="sc_uploads" name="sc_uploads" accept=".log">
            Only .log file type is accepted
            <input type ="submit" value="Add"></input>
        </div>
    </form>
    <br>
    <div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <canvas id="bar-chart" style="overflow: auto ;margin-left:500px">
        </canvas>
        <div id="full-chart" style=" margin-left:500px"></div>
        <p>
            Scenario 1 Graph Model
            <textarea id="mySavedModel1" style="width:100%;height:250px">
            </textarea>
        </p>
        <p>
            Scenario 2 Graph Model
            <textarea id="mySavedModel2" style="width:100%;height:250px">
            </textarea>
        </p>
    </div>
</body>
<script>
    sc1List = {{sc1_filenames|safe}};
    sc2List = {{sc2_filenames|safe}};
    //total_node_list = {{node_count|safe}};
    //console.log(total_node_list);
    var comp_list = ["Only graphs", "Matched", "Non-matched", "Compare in a Barchart"];

    console.log(comp_list);

    var select1 = document.getElementById("scenario1-list");
    var select2 = document.getElementById("scenario2-list");
    var select3 = document.getElementById("comp");

    for (var i = 0; i < sc1List.length; i++)
    {
        var opt = sc1List[i];
        var el = document.createElement("option");
        el.id =i;
        el.textContent = opt;
        el.value = opt;
        select1.appendChild(el);
    }

    for (var i = 0; i < sc2List.length; i++)
    {
        var opt = sc2List[i];
        var el = document.createElement("option");
        el.id=i;
        el.textContent = opt;
        el.value = opt;
        select2.appendChild(el);
    }

    for (var i = 0; i < comp_list.length; i++)
    {
        var opt = comp_list[i];
        var el = document.createElement("option");
        el.id=i;
        el.textContent = opt;
        el.value = opt;
        select3.appendChild(el);
    }

    var sc1_id = document.getElementById("scenario1-list").selectedIndex;
    var sc2_id = document.getElementById("scenario2-list").selectedIndex;
    var comp_index = document.getElementById("comp").selectedIndex;





</script>
