.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-gap: 10px;
}

/*
navigation bar
 */

#navBar {
  background-color: #d0dae8;
  padding-left: 10px;
  margin-bottom: 20px;
  transition: opacity 0.2s ease;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;

}
#view{
  margin-top: 10px;
}
#navBar .navBarCollapse{

  transition: none;
  padding-top: 10px;
  padding-bottom: 13px;
}
.navBarOpaque{
  opacity: 40%;
}
#navBar .navBarCollapse .container-fluid{
  margin-bottom: 20px;
}

#navBar .navCollapseButton{
  text-align: right;

}
#navBar .navBarCollapse ul{
  margin-top: 40px;
}

#navBar .navBarLoadButton button{
  padding:10px 15px;
  font-size: 15px !important;
}

#navBar #view label{
  font-size: 15px;
}
/*
Nav bar arrow icon
 */
#navBar .navCollapseButton i{
  font-size: 5rem !important;
  transition: all 0.5s ease;
  font-weight: bold;
  cursor: pointer;
  text-align: right;
}
#navBar .navCollapseButton i.navToggled{

  font-size: 2rem !important;
  margin-top: 0px;
}
.hide{
  display:none !important;
}

*{
  overflow: visible;
}
/*
Changing the scrollbar of the accordion
*/
.nodePanel{

  transition: all 0.5s ease;
}


.nodePanel .vertical-scrollbar{
  max-height: 300px;
}
.nodePanel .unique_paths{
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 5px;
}
.nodePanel .unique_paths b{
  padding-left: 6px;
  padding-bottom: 5px;
  font-size: 13px;
  display: block;
}



/*
Node information button
 */

.nodeInformationButton{
  padding: 10px 7px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 20px;
}

.nodeInformationDiagram{
  height: 800px;
}
/*
React Select styles
 */
.reactSelect div[class$="control"]{
  cursor: pointer;
}
.reactSelect div[class$="menu"]{
  overflow: visible !important;
  cursor: pointer;
}
.reactSelect div[class$="menu"] *{
  cursor: pointer;
}
.reactSelect div[class$="menu"] div[class$="option"]{
  border:1px grey solid;
  border-left: none;
  border-right: none;
  padding: 13px 8px;
}

.reactSelect div[class$="menu"] div[class$="option"]:hover{
  transition: all 0.25s ease;
  color:white;
  background-color: black;
  font-weight: bold;

}

.reactSelect div[class$="menu"] div[class$="option"]:active{
  transition: all 0.1s ease;
  color:white;
  background-color: #2f2f2f;


}
.reactSelect div[class$="menu"] div[class$="option"]:checked{
  transition: all 0.1s ease;
  color:white;
  background-color: #2f2f2f;
  font-size: 12px;
}
.reactSelect div[class$="menu"]>div::-webkit-scrollbar-track
{
  border-radius: 6px;
  background-color: #f3f0f0;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.28);
}

.reactSelect div[class$="menu"]>div::-webkit-scrollbar
{
  width: 5px;
  height: 5px;
  background-color: #f3f0f0;
}

.reactSelect div[class$="menu"]>div::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.28);
  border-radius: 8px;
  background-color: #575757;
}

.vertical-scrollbar,.reactSelect div[class$="menu"]>div{
  overflow-y: auto;
  word-wrap: break-word;
  padding-right: 7px;
}


select.form-control{
  cursor: pointer;
}
select.form-control *{
  cursor: pointer;
}

/*
accordion files section list
 */
.nodePanel{
  background-color: #f5f4f4;
  margin-top:20px;
  border-radius: 10px;
  border: 2px grey;
  box-shadow: rgba(33, 42, 65, 0.5) 0px 0px 13px -2px, rgba(35, 38, 44, 0.65) 0px 3px 11px -1px;
}
.nodePanel .accordion-body{
  padding-right: 2px;
  padding-left: 10px;
}

.nodeCountInfo {
  padding:10px 0 0 20px;
  font-size: 15px;

}

.vertical-scrollbar::-webkit-scrollbar-track
{
  border-radius: 11px;
  background-color: #f3f0f0;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.28);
}

.vertical-scrollbar::-webkit-scrollbar
{
  width: 12px;
  height: 14px;
  background-color: #f3f0f0;
}

.vertical-scrollbar::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.28);
  border-radius: 11px;
  background-color: #9f9f9f;
}

.diagram>div{
  left:0;
}

.diagram>div::-webkit-scrollbar-track
{
  border-radius: 11px;
  background-color: #f3f0f0;
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,0.28);
}

.diagram>div::-webkit-scrollbar
{
  width: 12px;
  height: 14px;
  background-color: #f3f0f0;
}

.diagram>div::-webkit-scrollbar-thumb
{
  -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,.28);
  border-radius: 11px;
  background-color: #9f9f9f;
}

html {
  font-size: 12px;
}



.accordion-body ol{
  padding-left: 1.5rem;

}
.accordion-body ol li{
  margin-bottom: 13px;
}
.accordion-body ol li::marker{
  font-weight: bold;
}

/*
Execution Path
 */
.executionPathContainer div{
  border: 2px solid #3d3d3d;
  border-radius: 8px;
  margin-bottom: 11px;
  padding: 8px;
}
.executionPathArrowDown{
  text-align: center;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 0px!important;
}
.executionPathContainer span{
  display: block;
  margin-bottom: 10px;
}
.executionPathContainer .functionName{
  text-align: center;
  font-weight: bold;
}



.executionPathContainer .functionName b{
  font-size: 17px;
}
/* 
textarea{
  white-space: nowrap;
  overflow-x: auto;
} */



/*
Diagrams
 */
#diagrams{
  margin-top:15px;
  padding-right: 13px;
  transition: all 2s ease;
  overflow: hidden;
}
.diagram>div{
  width: 100% !important;
}
.row [class*='col-'] {

  transition: all 0.5s linear;
}
 .collapsedPanel{
  width:0% !important;
   overflow: hidden !important;
   word-break: keep-all;

}
 .collapsedPanel *{
   overflow: hidden !important;
 }
 .navPanelHeader{
   margin-left: -20px;
   margin-right: -20px;
 }
 .navPanelHeader>div{
   overflow: hidden;
 }
 .nodeSlideButton {
   width: 100%;
   cursor: pointer;
   background-color: #d5e8e9;
   border: 2px #3d4966  solid;
   border-radius: 7px;
   font-size: 18px;
   font-weight: bold;
   padding: 3px;
   text-align: center;
 }


.diagram {
  border: 1px solid black;
  margin: 2px
}

/* ----------------------------------------------
 * Generated by Animista on 2020-7-22 10:34:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}