<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script type="text/javascript" src="{{ url_for('static',filename = 'js/go-debug.js')}}"></script>


  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>


  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename = 'style.css')}}">
  <script src="{{ url_for('static',filename = 'js/tree_view.js')}}"></script>
  <script src="{{ url_for('static',filename = 'js/manipulate_tree.js')}}"></script>


  <title>HCPC: Human Centric Program Comprehension Through Higher Level Abstraction</title>
</head>

<body onload="init_directory()">

  <ul class="nav justify-content-center">
    <div class="btn-group btn-group-toggle" data-toggle="buttons" id="view">
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="system1" autocomplete="off"> First Subject System
      </label>
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="systemBoth" autocomplete="off" checked> Both Subject Systems
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="system2" autocomplete="off"> Second Subject System
      </label>
    </div>

  </ul>


  <div class="container-fluid">

    <div class="row">
      <div class="col">
        <h5 class="text-focus-in" style="text-align: center;">HCPC: Human Centric Program Comprehension By Grouping Dynamic Execution Scenarios
        </h5>

      </div>

    </div>

    <div class="row justify-content-center" >

      <div class="col-3" id="subjectSystem1Info">

        <div class="row">
          <div class="col">
            <b> Subject System 1 </b> <br>
              <select name="subject_system" id="subject_system_id1" class="form-control">
                {% for ss in subject_systems %}
                <option value="{{ss}}">{{ss}}</option>
                {% endfor %}
              </select>
          </div>

        </div>

        <div class="card">

          <div class="card-body">
            <b class="card-title" id="node_key1">Node Key</b>
            <br>
            <b class="node_details_label" id="number_of_files1"> Number of Files </b>
            <br>
            <b class="node_details_label" id="number_of_execution_paths1"> Number of Execution paths </b>
            <br>
            <b class="node_details_label"> Files</b>
            <div id="files1" class="vertical-scrollbar"> </div>
            <b class="node_details_label"> Node summary</b>
            <div id="node_summary1" class="vertical-scrollbar"> </div>
            <b class="node_details_label"> Execution patterns </b>
            <div class="vertical-scrollbar" id="node_patterns1"> </div>
            <b class="node_details_label"> Unique Node Specific Execution Paths </b>
            <div class="vertical-scrollbar" id="unique_node_execution_paths1"> </div>
          </div>

          <div class="card-body">
            <b class="card-title">Execution Paths</b>
            <p class="card-text vertical-scrollbar" id="searched_execution_paths1"></p>
          </div>

          <div class="row">
            <div class="col">
              <b> Show Unique Execution Path For Subject System 1 </b> <br>
              <select class="form-control" name="unique_paths1" id="unique_execution_paths1">
                <option value="None">None</option>
              </select>
            </div>
          </div>
        </div>
      </div>


      <div class="col-6" id="diagrams">

        <div class="row">
          <div class="col" id="fullDiagram1" style="height:400px;border:1px solid black;margin:2px"></div>
        </div>

        <div class="row">
          <div class="col" id="fullDiagram2" style="height:400px;border:1px solid black;margin:2px"></div>
        </div>

      </div>

      <div class="col-3" id="subjectSystem2Info">

        <div class="row">
          <div class="col">
            <b> Subject System 2 </b> <br>
            <select name="subject_system" id="subject_system_id2" class="form-control">
              {% for ss in subject_systems %}
              <option value="{{ss}}">{{ss}}</option>
              {% endfor %}
            </select>
          </div>

        </div>

          <div class="card">

            <div class="card-body">
              <b class="card-title" id="node_key2">Node Key</b>
              <br>
              <b class="node_details_label" id="number_of_files2"> Number of Files </b>
              <br>
              <b class="node_details_label" id="number_of_execution_paths2"> Number of Execution paths </b>
              <br>
              <b class="node_details_label"> Files</b>
              <div id="files2" class="vertical-scrollbar"> </div>
              <b class="node_details_label"> Node summary</b>
              <div id="node_summary2" class="vertical-scrollbar"> </div>
              <b class="node_details_label"> Execution patterns </b>
              <div class="vertical-scrollbar" id="node_patterns2"> </div>
              <b class="node_details_label"> Unique Node Specific Execution Paths </b>
              <div class="vertical-scrollbar" id="unique_node_execution_paths2"> </div>
            </div>

            <div class="card-body">
              <b class="card-title">Execution Paths</b>
              <p class="card-text vertical-scrollbar" id="searched_execution_paths2"></p>
            </div>

            <div class="row">
              <div class="col">
                <b> Show Unique Execution Path For Subject System 2 </b> <br>
                <select class="form-control" name="unique_paths2" id="unique_execution_paths2" style="width: 100%">
                  <option value="None">None</option>
                </select>
              </div>
            </div>
          </div>
      </div>

    </div>

    <ul class="row text-center">
      <div class="col">
        <b> Technique to label nodes</b> <br>

        <select class="form-control" name="technique_choice" id="technique_choice_id">
          {% for tc in technique_choices %}
          <option value="{{tc}}">{{tc}}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col">
        <b> Model for Graph</b> <br>
        <select class="form-control" name="graph_model" id="graph_model_id">
          <option value="directory">Directory</option>
          <option value="tree">Tree</option>
        </select>
      </div>

      <div class="col" style="padding-top: 18px">
        <button onclick="get_cluster()" type="submit" class="btn btn-secondary"> Load Cluster Tree </button>
      </div>

      <div class="col" id="same_execution_paths_block">
        <b> Show Same Execution Path </b> <br>
        <select class="form-control" name="same_paths" id="same_execution_paths">
          <option value="None">None</option>
        </select>
      </div>

      <div class="col">
        <b> Highlight Functions</b> <br>
        <div class="d-flex">
          <select id='function_file' name='select_elem' class="form-control"> </select>
          <button type="submit" class="btn btn-secondary" id="search_button"> Search </button>
        </div>
      </div>
    </ul>


    </div>


  <footer class="page-footer font-small blue">


    <div class="footer-copyright text-center py-3">© 2021 Copyright:
      <a href="https://ise.usask.ca/avijit/"> Avijit Bhattacharjee (iSE Lab) </a>
    </div>


  </footer>


</body>


</html>
